
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 22px;
}

img {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 630px;
  width: 600px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

.speedInput {
  position: absolute;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 40px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(236, 202, 133);
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darksalmon;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}


@media(max-width: 450px) {
  h1 {
    font-size: 15px;
  }

  img {
    width: 400px;
    height: 400px;
    
  }

  .carousel {
    height: 430px;
    width: 400px;
  }

  .speedInput {
    width: 400px;
    padding: 5px 10px;
    font-size: 13px;
    bottom: 50px;
    color: rgb(195, 136, 18);
  }
}